{% extends "base.html" %} {% block title %}SSIS{% endblock %} {% block content
%}
<h1 align="center">Courses</h1>
<div style="display: flex; justify-content: space-between">
	<div>
		<a href="/course/add"><button>Add Course</button></a>
	</div>
	<div style="display: flex; align-items: center; margin-bottom: 20px">
		<form
			style="color: #ecf0f1; display: flex; gap: 1em"
			action="/course/search"
			method="get"
		>
			<input
				style="color: #ecf0f1"
				type="text"
				name="query"
				placeholder="Search"
				class="form-control"
			/>
			<button type="submit">Search</button>
			<a href="/course"><button>Clear</button></a>
		</form>
	</div>
</div>
<div class="table-container">
	<table class="content-table">
		<thead>
			<tr>
				<th>Course Code</th>
				<th>Course Name</th>
				<th>College Code</th>
				<th class="th-action"></th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			<tr>
				<td>{{ course.course_code }}</td>
				<td>{{ course.course_name }}</td>
				<td>{{ course.college_code }}</td>
				<td>
					<span class="action-btn">
						<a
							class="action-link-edit"
							href="edit/{{course.id}}"
							>Edit</a
						>
						<form
							method="post"
							action="/course/delete/{{ course.id }}"
						>
							<button
								type="button"
								class="action-link-delete"
								onclick="confirmDeleteCourse('{{ course.id }}')"
							>
								Delete
							</button>
						</form>
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="pagination-container" style="margin-top: 20px; text-align: center;">
  {% if page > 1 %}
    <a href="{{ url_for('course.course_home', page=page-1) }}">&#8592; Previous</a>
  {% else %}
    <span style="color: grey;">&#8592; Previous</span>
  {% endif %}

  &nbsp; | &nbsp;

  <span class="page-info">Page {{ page }} of {{ total_pages }}</span>

  &nbsp; | &nbsp;

  {% if page < total_pages %}
    <a href="{{ url_for('course.course_home', page=page+1) }}">Next &#8594;</a>
  {% else %}
    <span style="color: grey;">Next &#8594;</span>
  {% endif %}
</div>

{% endblock %}
